TAGS
*~
*.elc

dots/.Xresources-cse
dots/.Xresources-laptop
dots/.Xresources-mac
dots/.Xresources-yogaubuntu
dots/.enscriptrc
dots/.hunspell_en_US.sorted
dots/.javadoc-index-files
dots/.jsr308-demos.properties
dots/.mvc-checkouts
dots/.ssh/catmpi
dots/.ssh/catmpi.pub
dots/.ssh/csail
dots/.ssh/csail.pub
dots/.ssh/id_dsa
dots/.ssh/id_dsa.pub
dots/.ssh/id_rsa
dots/.ssh/id_rsa-cert.pub
dots/.ssh/id_rsa.keystore
dots/.ssh/id_rsa.pub
dots/.ssh/identity
dots/.ssh/identity.pub
dots/.ssh/mernst_mpi_id_rsa
dots/.ssh/mernst_mpi_id_rsa.pub
dots/.unison/ar[0-9a-f][0-9a-f][0-9a-f]*
dots/.unison/backup
dots/.unison/fp[0-9a-f][0-9a-f][0-9a-f]*
dots/.unison/lk[0-9a-f][0-9a-f][0-9a-f]*
dots/.unison/tm[0-9a-f][0-9a-f][0-9a-f]*
dots/.unison/unison.log

emacs/*.dynvars
emacs/.path.el
emacs/apheleia-4.3/
emacs/apheleia
emacs/athena
emacs/bbdb-2.35
emacs/bbdb-2.35.tar.gz
emacs/benchmark.el
emacs/benchmark.el-is-for-dtrt-indent-compatibility
emacs/dash.el
emacs/dtrt-indent
emacs/emacs-w3m
emacs/emacs-w3m-1.4.4
emacs/emacs-w3m-1.4.4.tar.gz
emacs/ess-5.7.1
emacs/ess-5.7.1.tgz
emacs/fixes
emacs/magit
emacs/mew
emacs/mew-6.5
emacs/mew-6.5.tar.gz
emacs/mew-git
emacs/old
emacs/plume-lib
emacs/pylookup
emacs/python-mode.el-6.0.8
emacs/src
emacs/vm-7.19
emacs/vm-7.19.tar.gz
emacs/vm-8.0.11-581
emacs/vm-8.0.11-581.tgz
emacs/vm-8.0.12
emacs/vm-8.0.12.tgz

share/crontab
share/old
share/validate
share/validate-html4
share/R
share/wikify.py

syntax: regexp
# Not a glob because it starts with # which looks like a comment.
(.*/)?\#[^/]*\#$
(.*/)?\.\#.*
